.event_module{
    height: initial;
    width: 23%;
    margin-top: 2vh;
    margin-bottom: 5rem;
    border-radius: 10px;
}
.UE_images{
    height: 9rem;
    background-color: blue;
}
img{
    border-radius: 10px;
}
.UE_name{
    margin-top: 0.5rem;
    font-weight: bold;
}
.UE_hostby{
    margin-top: 0.25rem;
    color: #717171;
    font-weight: bold;
}
.UE_time_date{
    margin-top: 0rem;
}
.vis_price_con{
    margin: 0;
    display: flex;
}
.UE_visitors{
    margin: 0;
    margin-right: 2rem;
}
.UE_price{
    margin: 0;
}
