.See_all_event_display_data{
    height: 10.5rem;
    width: 100%;
    display: flex;
    border-top: 1px #D9D9D9 solid;
    margin-top: 1rem;
    padding-top: 0.5rem;
}
.See_all_event_display_data_img{
    width: 26%;
    height: 5.5rem;
}
.See_all_event_display_data_details{
    width: 74%;
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.See_all_time_date{
    padding-top: 0.5rem;
    color: #7B6F79;
}
.See_all_name{
    padding-top: 0.25rem;
    font-weight: bold;
}
.See_all_host_by{
    padding-top: 0.25rem;
    color: #707070;
}
.See_all_event_display_data_details_part_2{
    height: 1.5rem;
    display: flex;
    justify-content: space-between;
}
.See_all_Visitor{
    color: #707070;
}
.share_icon{
    width: 1.5rem;
    height: 1.5rem;
}
.share_icon >img {
    padding: 0;
    margin: 0;
}