.Events_Near{
    margin-top: 13vh;
}
.event_header{
    display: flex;
    justify-content: space-between;
}
.event_near_btn{
    width: 15rem;
    display: flex;
    height: 3rem;
    color: #008FA3;
    background-color: #F2F9F9;
    font-weight: bold;
    font-size: 1.35rem;
    margin-left: 0.5rem;
    letter-spacing: 0.1rem;
}
.event_near_btn:hover{
    color: #008FA3;
    background-color: #F2F9F9;
    text-decoration: underline;
}
/* .event_near_btn_img{
    height: 2rem;
    width: 2rem;
} */
 .event_near_btn_img{
    display: flex;
    margin-left: 4.5%;
    margin-top: 0.2rem;
    justify-content: center;
 }
h2{
    font-weight: bolder;
    display: flex;
}
.see_all_event_link{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    color: #008FA3;
}
.see_all_event_link:hover{
    text-decoration: underline;
}
.event_main_sec{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.edit{
    fill: currentColor;
    width:22px;
    height:22px;
    margin-left: -7px;
}
.see_all_event_link_mobile{
    margin-top: 0;
    display: none;
}

@media only screen and (max-width: 400px) {
    .Events_Near{
        margin-bottom: 2vh;
        margin-top: 5vh;
    }
    .event_header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1vh;
    }
    .event_near_btn{
        width: fit-content;
        display: flex;
        height: fit-content;
        color: #008FA3;
        background-color: #F2F9F9;
        font-weight: bold;
        margin-left: 0.5rem;
        font-size: 1rem;
        letter-spacing: 0rem;
        display: none;
    }
    .event_near_btn:hover{
        color: #008FA3;
        background-color: #F2F9F9;
        text-decoration: underline;
    }
     .event_near_btn_img{
        display: flex;
        margin-left: 0%;
        margin-top: 0rem;
        justify-content: center;
     }
    h2{
        font-size: 1.3rem;
        font-weight: 700;
        display: flex;
        align-items: center;
    }
    .see_all_event_link{
        text-decoration: none;
        font-weight: bold;
        font-size: 1.1rem;
        color: #008FA3;
        display: none;
    }
    .see_all_event_link:hover{
        text-decoration: underline;
    }
    .event_main_sec{
        display: flex;
        flex-direction: column;
        justify-content: start;
        flex-wrap: wrap;
        background-color: #F6F7F8;
        margin-bottom: 1rem;
    }
    .edit{
        fill: currentColor;
        width:22px;
        height:22px;
        margin-left: 5px;
    }
    .see_all_event_link_mobile{
        display: unset;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.1rem;
        color: #008FA3;
    }
}