.event_module{
    height: initial;
    width: 23%;
    margin-top: 2vh;
    margin-bottom: 5rem;
    border-radius: 10px;
    cursor: pointer;
}
.event_module:hover .UE_images{
    opacity: 0.8;
}
.event_module:hover .UE_name{
    text-decoration: underline;
}
.UE_images{
    height: 9rem;
    background-color: blue;
}
img{
    border-radius: 10px;
}
.UE_name{
    margin-top: 0.5rem;
    font-weight: bold;
}
.UE_hostby{
    margin-top: 0.25rem;
    color: #717171;
    font-weight: bold;
}
.UE_time_date{
    height: 1rem;
    display: flex;
}
.UE_time_date_1 > img{
    margin-top: -1.65vh;
    border-radius: 0px;
    padding: 0;
}
.UE_time_date_2{
    padding-left: 3%;
    display: flex;
    align-items: center;
    font-size: 1rem;
}
.vis_price_con{
    margin: 0;
    display: flex;
    height: 1.75rem;
    margin: 0;
    margin-top: 1rem;
}
.UE_visitors > img , .UE_price > img {
    margin-top: 1px;
    padding: 0;
    padding-right: 0.35rem;
}
.UE_visitors{
    margin: 0;
    height: 100%;
    display: flex;
    margin-right: 1.5rem;
}
.UE_price{
    margin: 0;
    height: 100%;
    display: flex;
}


@media only screen and (max-width: 400px) {
    .event_module{
        height: 24vh;
        width: 100%;
        margin-top: 0vh;
        margin-bottom: 1vh;
        border-radius: 0px;
        cursor: pointer;
        display: flex;
        background-color: white;
        flex-direction: row-reverse;
    }
    .image_sec_dd{
        width: 30%;
    }
    .data_sec_dd{
        width: 70%;
        padding-right: 5%;
    }
    .event_module:hover .UE_images{
        opacity: 0.8;
    }
    .event_module:hover .UE_name{
        text-decoration: underline;
    }
    .UE_images{
        height: 6rem;
        background-color: blue;
    }
    img{
        border-radius: 10px;
    }
    .UE_name{
        margin-top: 0.5rem;
        font-weight: bold;
        font-size: 1.1rem;
    }
    .UE_hostby{
        margin-top: 0.25rem;
        color: #717171;
        font-weight: bold;
        font-size: 1rem;
    }
    .UE_time_date{
        height: 1rem;
        display: flex;
    }
    .UE_time_date_1 > img{
        margin-top: -1.65vh;
        border-radius: 0px;
        padding: 0;
    }
    .UE_time_date_2{
        padding-left: 3%;
        display: flex;
        align-items: center;
    }
    .vis_price_con{
        margin: 0;
        display: flex;
        height: 1.75rem;
        margin: 0;
        margin-top: 1rem;
    }
    .UE_visitors > img , .UE_price > img {
        margin-top: 1px;
        padding: 0;
        padding-right: 0.35rem;
    }
    .UE_visitors{
        margin: 0;
        height: 100%;
        display: flex;
        margin-right: 1.5rem;
    }
    .UE_price{
        margin: 0;
        height: 100%;
        display: flex;
    }
}