.footer_main{
    z-index: 0;
    padding-bottom: 1.5rem;
    --tw-text-opacity: 1;
    color: rgba(246,247,248,var(--tw-text-opacity));
    padding-top: 1rem;
    margin-top: 0;
    --tw-bg-opacity: 1;
    background-color: rgba(33,33,33,var(--tw-bg-opacity));
}

.footer_main_1{
    padding-left: 0;
    padding-right: 0;
    max-width: 1120px;
    padding-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
}
.footer_main_part1{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5rem;
    font-weight: bold;
    padding-bottom: 1rem;
    justify-content: flex-start;
}
.footer_main_part1_1{
    display: block;
    font-weight: 600;
    border-bottom: 1px solid #707070;
    width: 1120px;
    height: 69px;

    
}
.footer_main_part1_2:hover{background-color: #fff; color: black;}
.footer_main_part1_2{
    cursor: pointer;
    color: #fff;
    fill: #fff;
    background-color: transparent;
    border-color: #fff;
    padding: 8px 12px;
    outline: 2px solid transparent;
     outline-offset: 2px;
     margin-left: 1rem;
     display: inline-flex;
     border: 2px solid;
     border-radius: 0.375rem;
     text-decoration: none;
}
.footer_main_part2{
    --tw-space-y-reverse: 0;
    padding-top: 1rem;
    margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.footer_main_part2_1{
    width: 33.333333%;
    margin-bottom: 0.75rem;
    color: rgba(246, 247, 248, var(--tw-text-opacity));

}
.footer_main_part2_1_el{
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
.footer_main_part2_1_el_li{
    --tw-text-opacity: 1;
    color: rgba(197,196,196,var(--tw-text-opacity));
    font-weight: 400;
    font-size: .875rem;
    font-style: normal;
    line-height: 20px;
    letter-spacing: 0;
    text-decoration: none;
}
.footer_main_part2_1_el_li:hover{
    color: white;
}

.footer_main_part3{
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.footer_main_part3_b{
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
}
.footer_main_part3_b_i{
    font-weight: 100;
    width: 3.5rem;
    text-decoration: none;
    margin-right: 10px;
}

.footer_main_part3_3{
    display: flex;
    height: 3rem;
}
.footer_main_part3_4{
    color:transparent;
    text-decoration: none;
    display: inline-block;
    width: 10rem;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
}
.footer_main_part3_4_img{
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    border: none;
    margin: auto;
    display: block;
    max-width: 30rem;
    border: 1px #707070 solid;
    margin-right: 1rem;
    min-height: 100%;
    max-height: 100%;
   
    top: 0;
}
.footer_main_part4{
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
    font-size: .875rem;
    font-style: normal;
    line-height: 20px;
    letter-spacing: 0;
    font-weight: 400;
    width: 100%;
    display: flex;
    padding-top: 0.5rem;
    --tw-text-opacity: 1;
    color: rgba(197,196,196,var(--tw-text-opacity));
    flex-direction: row;
}
.text_white{
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
}
.t{
    --tw-space-x-reverse: 0;
    margin-right: calc(1.5rem * var(--tw-space-x-reverse));
    margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)));
        --tw-text-opacity: 1;
        color: rgba(197,196,196,var(--tw-text-opacity));
        font-size: .875rem;
    font-style: normal;
    line-height: 20px;
    letter-spacing: 0;
    font-weight: 400;
    text-decoration: none;
}
.t:hover{
    color: white;
}

.text_gray3 {
    --tw-text-opacity: 1;
    color: rgba(217,217,217,var(--tw-text-opacity));
    fill: currentColor;
}
.for_mobile_view{
    display: none;
}

@media only screen and (max-width: 1000px){
    .footer_main{
        padding-left: 1.5rem;
    }
}


@media only screen and (max-width: 400px) {
    .footer_main{
        padding-bottom: 1rem;
        color: rgba(246,247,248,var(--tw-text-opacity));
        padding-top: 1rem;
        margin-top: 2rem;
        padding-left: 1rem;
        background-color: rgba(33,33,33,var(--tw-bg-opacity));
    }
    
    .footer_main_1{
        padding-left: 0;
        padding-right: 0;
        max-width: 1120px;
        width: 22.5rem;
        display: flex;
        flex-direction: column;
    }
    .footer_main_part1{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 0.5rem;
        font-weight: bold;
        padding-bottom: 1rem;
        justify-content: flex-start;
    }
    .footer_main_part1_1{
        display: block;
        font-weight: 600;
        width: 94%;
        border-bottom: 1px solid #707070;
        height: 45px;
        display: none;
    }
    .for_mobile_view{
        display: unset;
        font-size: 1rem;
        text-align: center;
    }
    .footer_main_part1_2:hover{background-color: #fff; color: black;}
    .footer_main_part1_2{
        cursor: pointer;
        color: #fff;
        fill: #fff;
        background-color: transparent;
        border-color: #fff;
        padding: 8px 12px;
        outline: 2px solid transparent;
         outline-offset: 2px;
         margin-left: 1rem;
         display: inline-flex;
         border: 2px solid;
         border-radius: 0.375rem;
         text-decoration: none;
    }
    .footer_main_part2{
        --tw-space-y-reverse: 0;
        padding-top: 0.5rem;
        margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .footer_main_part2_1{
        width: 100%;
        margin-bottom: 0.75rem;
        font-size: 0.9rem;
        color: rgba(246, 247, 248, var(--tw-text-opacity));
    
    }
    .footer_main_part2_1_el{
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
    }
    .footer_main_part2_1_el_li{
        --tw-text-opacity: 1;
        color: rgba(197,196,196,var(--tw-text-opacity));
        font-weight: 400;   
        font-style: normal;
        font-size: 0.75rem;
        line-height: 20px;
        letter-spacing: 0;
        text-decoration: none;
    }
    .footer_main_part2_1_el_li:hover{
        color: white;
    }
    
    .footer_main_part3{
        display: flex;
        justify-content: start;
        width: 100%;
        flex-direction: column;
        align-items: start;
        font-size: 0.9rem;
    }
    .footer_main_part3_b{
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;
    }
    .footer_main_part3_b_i{
        font-weight: 100;
        width: 3.5rem;
        text-decoration: none;
        margin-right: 10px;
    }
    
    .footer_main_part3_3{
        display: flex;
        height: 2.5rem;
    }
    .footer_main_part3_4{
        color:transparent;
        text-decoration: none;
        display: inline-block;
        width: 8.5rem;
        overflow: hidden;
        box-sizing: border-box;
        margin: 0;
    }
    .footer_main_part3_4_img{
        left: 0;
        bottom: 0;
        right: 0;
        box-sizing: border-box;
        border: none;
        margin: auto;
        display: block;
        max-width: 30rem;
        border: 1px #707070 solid;
        margin-right: 1rem;
        min-height: 100%;
        max-height: 100%;
        top: 0;
    }
    .footer_main_part4{
        --tw-space-y-reverse: 0;
        margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
        font-size: .875rem;
        font-style: normal;
        line-height: 20px;
        letter-spacing: 0;
        font-weight: 400;
        width: 100%;
        display: flex;
        padding-top: 0.5rem;
        --tw-text-opacity: 1;
        color: rgba(197,196,196,var(--tw-text-opacity));
        flex-direction: column;
    }
    .text_white{
        --tw-text-opacity: 1;
        font-size: 0.9rem;
        color: rgba(255,255,255,var(--tw-text-opacity));
    }
    .t{
        --tw-space-x-reverse: 0;
        margin-left: 0;
        color: rgba(197,196,196,var(--tw-text-opacity));
        font-size: .875rem;
        font-style: normal;
        line-height: 20px;
        letter-spacing: 0;
        font-weight: 400;
        font-size: 0.8rem;
        margin-top: 0.5rem;
        text-decoration: none;
    }
    .t:hover{
        color: white;
    }
    
    .text_gray3 {
        --tw-text-opacity: 1;
        color: rgba(217,217,217,var(--tw-text-opacity));
        fill: currentColor;
    }
}